/**
 *
 * {{ properCase name }}
 *
 */
import React from 'react';
import PropTypes from 'prop-types';
import styled from 'styled-components';

import styles from './{{ properCase name }}.style';

const {{ properCase name }} = ({ children, className }) => <div className={className}>{children}</div>;

{{ properCase name }}.defaultProps = {
  inheritedStyles: '',
  variant: '',
  className: ''
};

{{ properCase name }}.propTypes = {
  className: PropTypes.string,
  children: PropTypes.node.isRequired,
  inheritedStyles: PropTypes.string,
  variant: PropTypes.oneOf(['primary', 'secondary'])
};

const styled{{ properCase name }} = styled({{ properCase name }})`
  ${styles};
`;
export default styled{{ properCase name }};

export { {{ properCase name }} as {{ properCase name }}Vanilla };
